In [3]:
import pandas as pd 
from functools import partial, reduce

In [4]:
raw_data=pd.read_csv(r'C:\Users\Dell\Desktop\data_MTT.csv', delimiter= '\t')

In [5]:
print(raw_data)

   contr   S_1   S_2   S_3    S_4   S_5   S_6   S_7   S_8
0   3111  2111  1299  4444  44231  4232  6161  6497  2584
1   3221  2324  1300  3616  44200  5000  2509  4230  2504
2   3331  2537  1301  4428  44652  4443  4441  4256  2555

In [6]:
raw_data.contr.mean()

3221.0

In [7]:
raw_data.iloc[2]

contr     3331
S_1       2537
S_2       1301
S_3       4428
S_4      44652
S_5       4443
S_6       4441
S_7       4256
S_8       2555
Name: 2, dtype: int64

In [8]:
avr = lambda x: sum(x)/len(x)

In [9]:
activity = lambda y1, y2: round((100*avr(y1)/avr(y2)), 3)

In [10]:
print(activity(raw_data.S_1, raw_data.contr))

72.152

In [11]:
contr=list(raw_data.contr)
print(contr)

[3111, 3221, 3331]

In [12]:
my_sum = lambda x, y: x+y
my_length = lambda x, y: x+1

In [13]:
print(reduce(my_sum, contr, 0)/reduce(my_length, contr, 0))

3221.0