In [39]:
import pandas as pd 
from functools import partial, reduce

In [40]:
raw_data=pd.read_csv(r'C:\Users\Dell\Desktop\data_MTT.csv', delimiter= '\t')

In [41]:
print(raw_data)

   contr   S_1   S_2   S_3    S_4   S_5   S_6   S_7   S_8
0   3111  2111  1299  4444  44231  4232  6161  6497  2584
1   3221  2324  1300  3616  44200  5000  2509  4230  2504
2   3331  2537  1301  4428  44652  4443  4441  4256  2555

In [42]:
raw_data.contr.mean()

3221.0

In [43]:
raw_data.iloc[2]

contr     3331
S_1       2537
S_2       1301
S_3       4428
S_4      44652
S_5       4443
S_6       4441
S_7       4256
S_8       2555
Name: 2, dtype: int64

In [44]:
avr = lambda x: sum(x)/len(x)

In [45]:
activity = lambda y1, y2: round((100*avr(y1)/avr(y2)), 3)

In [46]:
print(activity(raw_data.S_1, raw_data.contr))

72.152

In [47]:
contr=list(raw_data.contr)
print(contr)

[3111, 3221, 3331]

In [48]:
my_sum = lambda x, y: x+y
my_length = lambda x, y: x+1

In [49]:
print(reduce(my_sum, contr, 0)/reduce(my_length, contr, 0))

3221.0

In [50]:
raw_data.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['contr', 'S_1', 'S_2', 'S_3', 'S_4', 'S_5', 'S_6', 'S_7', 'S_8'], dtype='object')]

In [51]:
raw_data.mean(0)

contr     3221.000000
S_1       2324.000000
S_2       1300.000000
S_3       4162.666667
S_4      44361.000000
S_5       4558.333333
S_6       4370.333333
S_7       4994.333333
S_8       2547.666667
dtype: float64

In [52]:
raw_data_2 = raw_data.append(raw_data.mean(0), ignore_index=True)
print(raw_data_2)

    contr     S_1     S_2          S_3      S_4          S_5          S_6  \
0  3111.0  2111.0  1299.0  4444.000000  44231.0  4232.000000  6161.000000
1  3221.0  2324.0  1300.0  3616.000000  44200.0  5000.000000  2509.000000
2  3331.0  2537.0  1301.0  4428.000000  44652.0  4443.000000  4441.000000
3  3221.0  2324.0  1300.0  4162.666667  44361.0  4558.333333  4370.333333

           S_7          S_8
0  6497.000000  2584.000000
1  4230.000000  2504.000000
2  4256.000000  2555.000000
3  4994.333333  2547.666667

In [53]:
contr_mean = raw_data_2.iloc[3]['contr']
print(contr_mean)

3221.0

In [54]:
raw_data_3 = raw_data_2.append((100*raw_data_2.iloc[3]/contr_mean), ignore_index=True)
print(raw_data_3)

    contr          S_1          S_2          S_3           S_4          S_5  \
0  3111.0  2111.000000  1299.000000  4444.000000  44231.000000  4232.000000
1  3221.0  2324.000000  1300.000000  3616.000000  44200.000000  5000.000000
2  3331.0  2537.000000  1301.000000  4428.000000  44652.000000  4443.000000
3  3221.0  2324.000000  1300.000000  4162.666667  44361.000000  4558.333333
4   100.0    72.151506    40.360137   129.235227   1377.243092   141.519197

           S_6          S_7          S_8
0  6161.000000  6497.000000  2584.000000
1  2509.000000  4230.000000  2504.000000
2  4441.000000  4256.000000  2555.000000
3  4370.333333  4994.333333  2547.666667
4   135.682500   155.055366    79.095519

In [55]:
print(raw_data_3.iloc[4])

contr     100.000000
S_1        72.151506
S_2        40.360137
S_3       129.235227
S_4      1377.243092
S_5       141.519197
S_6       135.682500
S_7       155.055366
S_8        79.095519
Name: 4, dtype: float64