In [60]:
import pandas as pd 
from functools import partial, reduce

In [77]:
raw_data=pd.read_csv(r'C:\Users\Dell\Desktop\data_MTT.csv', delimiter= '\t')

In [78]:
print(raw_data)

   contr    S_1    S_2   S_3
0  3.111  2.111  1.330  2.09
1  3.221  2.324  1.430  1.99
2  3.100  2.220  1.301  2.04

In [79]:
avr = lambda x: sum(x)/len(x)

In [82]:
activity = lambda y1, y2: round((100*avr(y1)/avr(y2)), 3)

In [85]:
print(activity(raw_data.S_1, raw_data.contr))

70.558

In [86]:
contr=raw_data.contr
print(contr)

0    3.111
1    3.221
2    3.100
Name: contr, dtype: float64