In [1]:
import pandas as pd

In [2]:
weather=pd.read_csv(r'C:\Users\Dell\Desktop\weather.csv', delimiter= ',')

In [3]:
print(weather)

       Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
0                    0.00  2016-01-03           1             3       2016
1                    0.00  2016-01-03           1             3       2016
2                    0.16  2016-01-03           1             3       2016
3                    0.00  2016-01-03           1             3       2016
4                    0.01  2016-01-03           1             3       2016
...                   ...         ...         ...           ...        ...
16738                0.08  2017-01-01           1             1       2017
16739                0.00  2017-01-01           1             1       2017
16740                0.00  2017-01-01           1             1       2017
16741                0.06  2017-01-01           1             1       2017
16742                0.10  2017-01-01           1             1       2017

      Station.City Station.Code Station.Location Station.State  \
0       Birmingham          BHM   Birmingham, AL       Alabama
1       Huntsville          HSV   Huntsville, AL       Alabama
2           Mobile          MOB       Mobile, AL       Alabama
3       Montgomery          MGM   Montgomery, AL       Alabama
4        Anchorage          ANC    Anchorage, AK        Alaska
...            ...          ...              ...           ...
16738       Casper          CPR       Casper, WY       Wyoming
16739     Cheyenne          CYS     Cheyenne, WY       Wyoming
16740       Lander          LND       Lander, WY       Wyoming
16741      Rawlins          RWL      Rawlins, WY       Wyoming
16742     Sheridan          SHR     Sheridan, WY       Wyoming

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
0                             39                         46
1                             39                         47
2                             46                         51
3                             45                         52
4                             34                         38
...                          ...                        ...
16738                         23                         32
16739                         32                         42
16740                         17                         29
16741                         23                         31
16742                         21                         34

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
0                             32                   33             4.33
1                             31                   32             3.86
2                             41                   35             9.73
3                             38                   32             6.86
4                             29                   19             7.80
...                          ...                  ...              ...
16738                         15                   23            19.98
16739                         21                   26            15.16
16740                          4                   26             1.65
16741                         13                   24            18.16
16742                          8                   23             7.51

[16743 rows x 14 columns]

_Zadania:_

1. Alfabetyczne poszeregowanie nazw stacji
2. Zestawienie średnich wartości dla każdego stanu
3. Posortowanie stanów wg średniego kierunku wiatru
4. Zestawienie 10 miejscowości z najsilniejszym wiatrem

Alphabetical sorting of station location names

In [4]:
weather.sort_values(['Station.Location'])

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
3086,0.03,2016-03-06,3,6,2016,Aberdeen,ABR,"Aberdeen, SD",South Dakota,34,45,23,17,6.91
6564,0.15,2016-05-22,5,22,2016,Aberdeen,ABR,"Aberdeen, SD",South Dakota,60,75,45,12,13.15
8459,0.00,2016-07-03,7,3,2016,Aberdeen,ABR,"Aberdeen, SD",South Dakota,65,81,48,16,7.06
9716,0.87,2016-07-31,7,31,2016,Aberdeen,ABR,"Aberdeen, SD",South Dakota,73,84,61,11,7.27
4664,0.09,2016-04-10,4,10,2016,Aberdeen,ABR,"Aberdeen, SD",South Dakota,38,52,24,25,12.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060,0.56,2016-03-06,3,6,2016,Youngstown/Warren,YNG,"Youngstown/Warren, OH",Ohio,31,38,21,21,4.85
7487,0.67,2016-06-12,6,12,2016,Youngstown/Warren,YNG,"Youngstown/Warren, OH",Ohio,64,75,53,26,8.07
4954,0.89,2016-04-17,4,17,2016,Youngstown/Warren,YNG,"Youngstown/Warren, OH",Ohio,49,63,35,11,6.37
10957,0.58,2016-08-28,8,28,2016,Youngstown/Warren,YNG,"Youngstown/Warren, OH",Ohio,73,84,60,15,3.90
12222,0.00,2016-09-25,9,25,2016,Youngstown/Warren,YNG,"Youngstown/Warren, OH",Ohio,68,80,55,15,3.62

In [5]:
list_stations = weather['Station.Location']
print(list_stations)

0        Birmingham, AL
1        Huntsville, AL
2            Mobile, AL
3        Montgomery, AL
4         Anchorage, AK
              ...
16738        Casper, WY
16739      Cheyenne, WY
16740        Lander, WY
16741       Rawlins, WY
16742      Sheridan, WY
Name: Station.Location, Length: 16743, dtype: object

In [6]:
list_stations.sort_values(0)

3086              Aberdeen, SD
6564              Aberdeen, SD
8459              Aberdeen, SD
9716              Aberdeen, SD
4664              Aberdeen, SD
                 ...
3060     Youngstown/Warren, OH
7487     Youngstown/Warren, OH
4954     Youngstown/Warren, OH
10957    Youngstown/Warren, OH
12222    Youngstown/Warren, OH
Name: Station.Location, Length: 16743, dtype: object

In [7]:
sorted_list_stations = list_stations.sort_values(0)
sorted_list_stations.drop_duplicates()

3086              Aberdeen, SD
13212              Abilene, TX
847                  Akron, OH
13012              Alamosa, CO
10297               Albany, NY
                 ...
3604             Worcester, MA
6982              Wrangell, AK
301                 Yakima, WA
9188               Yakutat, AK
6855     Youngstown/Warren, OH
Name: Station.Location, Length: 318, dtype: object

Finding of mean temperatures in each state

In [8]:
weather.groupby(['Station.State']).mean()

,Data.Precipitation,Date.Month,Date.Week of,Date.Year,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
Station.State,,,,,,,,,
Alabama,0.776179,6.339623,15.660377,2016.018868,66.528302,77.226415,55.292453,19.202830,4.817736
Alaska,0.566126,6.392670,15.603839,2016.019779,41.157650,47.085515,34.773124,15.506690,6.429959
Arizona,0.162566,6.339623,15.660377,2016.018868,66.286792,81.007547,51.064151,18.271698,4.662075
Arkansas,0.603711,6.339623,15.660377,2016.018868,62.308176,72.345912,51.779874,11.647799,3.298113
California,0.323774,6.308308,15.666667,2016.018018,62.363363,73.029029,51.240240,22.421421,4.893634
Colorado,0.182987,6.339623,15.660377,2016.018868,49.273585,64.591195,33.553459,18.201258,4.322830
Connecticut,0.587830,6.339623,15.660377,2016.018868,53.396226,62.367925,43.811321,20.971698,6.474906
DE,0.632453,6.339623,15.660377,2016.018868,56.056604,65.264151,46.452830,20.773585,6.760377
Delaware,0.632453,6.339623,15.660377,2016.018868,56.056604,65.264151,46.452830,20.773585,6.760377
Florida,0.891006,6.339623,15.660377,2016.018868,73.926101,82.215409,65.166667,15.718553,6.299953
Georgia,0.712799,6.339623,15.660377,2016.018868,66.220126,77.437107,54.496855,19.330189,4.682516
Hawaii,0.664868,6.339623,15.660377,2016.018868,76.384906,82.954717,69.366038,10.347170,8.971585
Idaho,0.238113,6.339623,15.660377,2016.018868,51.698113,63.352201,39.672956,19.018868,4.822453
Illinois,0.609182,6.339623,15.660377,2016.018868,53.377358,62.270440,43.933962,19.591195,7.081761
Indiana,0.790142,6.339623,15.660377,2016.018868,53.976415,63.165094,44.301887,20.165094,6.836934
Iowa,0.659208,6.339623,15.660377,2016.018868,50.796226,60.162264,40.920755,19.860377,8.008679
Kansas,0.547673,6.339623,15.660377,2016.018868,56.867925,69.201258,43.987421,18.981132,8.249497
Kentucky,0.777660,6.339623,15.660377,2016.018868,58.286792,67.856604,48.222642,19.901887,5.003283
Louisiana,1.252452,6.329502,15.586207,2016.019157,69.475096,78.927203,59.540230,15.206897,5.115709
Maine,0.681698,6.339623,15.660377,2016.018868,45.415094,55.075472,35.251572,21.823899,5.913648
Maryland,0.697170,6.339623,15.660377,2016.018868,56.971698,66.462264,46.820755,19.650943,5.627547
Massachusetts,0.462222,6.294118,15.549020,2016.019608,53.261438,59.202614,47.111111,20.300654,8.746993
Michigan,0.587925,6.339623,15.660377,2016.018868,48.002096,56.867925,38.647799,17.911950,5.966897
Minnesota,0.599811,6.339623,15.660377,2016.018868,44.675472,53.724528,35.203774,19.894340,7.512604
Mississippi,0.885202,6.339623,15.660377,2016.018868,66.474394,77.336927,55.159030,18.415094,4.747062
Missouri,0.712318,6.339623,15.660377,2016.018868,57.423181,67.331536,46.943396,19.431267,7.061024
Montana,0.254768,6.339623,15.660377,2016.018868,45.627787,57.855918,32.962264,21.180103,6.455180
Nebraska,0.403986,6.339623,15.660377,2016.018868,51.634434,64.386792,38.429245,20.780660,8.054528
Nevada,0.133208,6.339623,15.660377,2016.018868,55.628931,69.877358,40.613208,18.522013,5.224465
New Hampshire,0.479000,6.450000,15.430000,2016.020000,51.110000,57.810000,44.050000,23.310000,18.017900
New Jersey,0.659717,6.339623,15.660377,2016.018868,56.066038,64.915094,46.584906,19.952830,7.191604
New Mexico,0.223019,6.339623,15.660377,2016.018868,58.622642,72.672956,44.157233,19.962264,6.353585
New York,0.597689,6.339623,15.660377,2016.018868,51.040094,59.771226,41.823113,20.518868,6.929929
North Carolina,0.794528,6.339623,15.660377,2016.018868,61.770889,71.404313,51.676550,19.668464,5.236954
North Dakota,0.341887,6.339623,15.660377,2016.018868,45.166038,56.449057,33.486792,20.833962,8.457208
Ohio,0.612372,6.339623,15.660377,2016.018868,52.665768,61.830189,43.008086,20.113208,7.212156
Oklahoma,0.442311,6.339623,15.660377,2016.018868,61.716981,73.580189,49.320755,18.014151,8.456792
Oregon,0.627217,6.339623,15.660377,2016.018868,52.870283,63.971698,41.254717,21.308962,4.863160
Pennsylvania,0.594771,6.339623,15.660377,2016.018868,53.919137,62.792453,44.021563,21.024259,5.855526
Puerto Rico,1.238113,6.339623,15.660377,2016.018868,81.358491,86.566038,75.622642,9.056604,6.718868
Rhode Island,0.661887,6.339623,15.660377,2016.018868,53.037736,62.000000,43.622642,20.471698,7.056981
South Carolina,0.687500,6.339623,15.660377,2016.018868,65.188679,75.863208,54.047170,17.952830,4.973208
South Dakota,0.344604,6.339623,15.660377,2016.018868,48.415094,60.324528,36.079245,21.060377,8.469660
Tennessee,0.742476,6.333333,15.614286,2016.019048,60.802381,71.328571,49.776190,19.592857,4.082381
Texas,0.621973,6.339623,15.660377,2016.018868,68.181604,78.849057,57.015723,15.917453,7.726423
Utah,0.247925,6.339623,15.660377,2016.018868,55.698113,66.094340,44.792453,20.622642,4.626792
VA,0.760566,6.339623,15.660377,2016.018868,58.283019,68.018868,48.132075,20.566038,5.078113
Vermont,0.481321,6.339623,15.660377,2016.018868,48.773585,57.622642,39.452830,23.056604,6.174151
Virginia,0.810283,6.339623,15.660377,2016.018868,58.974843,67.946541,49.553459,18.729560,5.883648
Washington,0.758356,6.339623,15.660377,2016.018868,51.366577,61.212938,41.070081,19.229111,4.930782
West Virginia,0.738019,6.339623,15.660377,2016.018868,55.023585,65.311321,44.235849,21.533019,4.146698
Wisconsin,0.638491,6.339623,15.660377,2016.018868,49.165094,57.575472,40.231132,19.485849,6.741368
Wyoming,0.226491,6.339623,15.660377,2016.018868,46.490566,60.018868,32.509434,23.377358,7.461283

In [9]:
weather.groupby(['Station.State']).mean()['Data.Temperature.Avg Temp']

Station.State
Alabama           66.528302
Alaska            41.157650
Arizona           66.286792
Arkansas          62.308176
California        62.363363
Colorado          49.273585
Connecticut       53.396226
DE                56.056604
Delaware          56.056604
Florida           73.926101
Georgia           66.220126
Hawaii            76.384906
Idaho             51.698113
Illinois          53.377358
Indiana           53.976415
Iowa              50.796226
Kansas            56.867925
Kentucky          58.286792
Louisiana         69.475096
Maine             45.415094
Maryland          56.971698
Massachusetts     53.261438
Michigan          48.002096
Minnesota         44.675472
Mississippi       66.474394
Missouri          57.423181
Montana           45.627787
Nebraska          51.634434
Nevada            55.628931
New Hampshire     51.110000
New Jersey        56.066038
New Mexico        58.622642
New York          51.040094
North Carolina    61.770889
North Dakota      45.166038
Ohio              52.665768
Oklahoma          61.716981
Oregon            52.870283
Pennsylvania      53.919137
Puerto Rico       81.358491
Rhode Island      53.037736
South Carolina    65.188679
South Dakota      48.415094
Tennessee         60.802381
Texas             68.181604
Utah              55.698113
VA                58.283019
Vermont           48.773585
Virginia          58.974843
Washington        51.366577
West Virginia     55.023585
Wisconsin         49.165094
Wyoming           46.490566
Name: Data.Temperature.Avg Temp, dtype: float64

In [10]:
weather.groupby(['Station.State']).mean()['Data.Temperature.Avg Temp'].round(1)

Station.State
Alabama           66.5
Alaska            41.2
Arizona           66.3
Arkansas          62.3
California        62.4
Colorado          49.3
Connecticut       53.4
DE                56.1
Delaware          56.1
Florida           73.9
Georgia           66.2
Hawaii            76.4
Idaho             51.7
Illinois          53.4
Indiana           54.0
Iowa              50.8
Kansas            56.9
Kentucky          58.3
Louisiana         69.5
Maine             45.4
Maryland          57.0
Massachusetts     53.3
Michigan          48.0
Minnesota         44.7
Mississippi       66.5
Missouri          57.4
Montana           45.6
Nebraska          51.6
Nevada            55.6
New Hampshire     51.1
New Jersey        56.1
New Mexico        58.6
New York          51.0
North Carolina    61.8
North Dakota      45.2
Ohio              52.7
Oklahoma          61.7
Oregon            52.9
Pennsylvania      53.9
Puerto Rico       81.4
Rhode Island      53.0
South Carolina    65.2
South Dakota      48.4
Tennessee         60.8
Texas             68.2
Utah              55.7
VA                58.3
Vermont           48.8
Virginia          59.0
Washington        51.4
West Virginia     55.0
Wisconsin         49.2
Wyoming           46.5
Name: Data.Temperature.Avg Temp, dtype: float64

In [11]:
temp_in_states = weather.groupby(['Station.State']).mean()['Data.Temperature.Avg Temp'].round(1)
temp_in_states.sort_values()

Station.State
Alaska            41.2
Minnesota         44.7
North Dakota      45.2
Maine             45.4
Montana           45.6
Wyoming           46.5
Michigan          48.0
South Dakota      48.4
Vermont           48.8
Wisconsin         49.2
Colorado          49.3
Iowa              50.8
New York          51.0
New Hampshire     51.1
Washington        51.4
Nebraska          51.6
Idaho             51.7
Ohio              52.7
Oregon            52.9
Rhode Island      53.0
Massachusetts     53.3
Connecticut       53.4
Illinois          53.4
Pennsylvania      53.9
Indiana           54.0
West Virginia     55.0
Nevada            55.6
Utah              55.7
Delaware          56.1
New Jersey        56.1
DE                56.1
Kansas            56.9
Maryland          57.0
Missouri          57.4
Kentucky          58.3
VA                58.3
New Mexico        58.6
Virginia          59.0
Tennessee         60.8
Oklahoma          61.7
North Carolina    61.8
Arkansas          62.3
California        62.4
South Carolina    65.2
Georgia           66.2
Arizona           66.3
Alabama           66.5
Mississippi       66.5
Texas             68.2
Louisiana         69.5
Florida           73.9
Hawaii            76.4
Puerto Rico       81.4
Name: Data.Temperature.Avg Temp, dtype: float64

Change of Fahrenheit to Celsius degrees

In [12]:
# conversion from Fahrenheit to Celcius degrees
F_to_C = lambda t: (t-32)/1.8
weather['Data.Temperature.Avg Temp'] = F_to_C(weather['Data.Temperature.Avg Temp']).round(1)
weather['Data.Temperature.Max Temp'] = F_to_C(weather['Data.Temperature.Max Temp']).round(1)
weather['Data.Temperature.Min Temp'] = F_to_C(weather['Data.Temperature.Min Temp']).round(1)

In [13]:
weather.head(5)

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,3.9,7.8,0.0,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,3.9,8.3,-0.6,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,7.8,10.6,5.0,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,7.2,11.1,3.3,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,1.1,3.3,-1.7,19,7.80

Sorting by the mean Wind spead

In [14]:
weather.groupby(['Station.State']).mean()['Data.Wind.Speed'].sort_values(0).round(2)

Station.State
Arkansas           3.30
Tennessee          4.08
West Virginia      4.15
Colorado           4.32
Utah               4.63
Arizona            4.66
Georgia            4.68
Mississippi        4.75
Alabama            4.82
Idaho              4.82
Oregon             4.86
California         4.89
Washington         4.93
South Carolina     4.97
Kentucky           5.00
VA                 5.08
Louisiana          5.12
Nevada             5.22
North Carolina     5.24
Maryland           5.63
Pennsylvania       5.86
Virginia           5.88
Maine              5.91
Michigan           5.97
Vermont            6.17
Florida            6.30
New Mexico         6.35
Alaska             6.43
Montana            6.46
Connecticut        6.47
Puerto Rico        6.72
Wisconsin          6.74
DE                 6.76
Delaware           6.76
Indiana            6.84
New York           6.93
Rhode Island       7.06
Missouri           7.06
Illinois           7.08
New Jersey         7.19
Ohio               7.21
Wyoming            7.46
Minnesota          7.51
Texas              7.73
Iowa               8.01
Nebraska           8.05
Kansas             8.25
Oklahoma           8.46
North Dakota       8.46
South Dakota       8.47
Massachusetts      8.75
Hawaii             8.97
New Hampshire     18.02
Name: Data.Wind.Speed, dtype: float64

Minimal temepareture in Idaho?

In [15]:
# df.loc[df['column_name'] == some_value]
weather.loc[weather['Station.State'] == 'Idaho']
weather.loc()

In [16]:
weather_in_Idaho = weather.loc[weather['Station.State'] == 'Idaho']
weather_in_Idaho.min()

Data.Precipitation                    0
Date.Full                    2016-01-03
Date.Month                            1
Date.Week of                          1
Date.Year                          2016
Station.City                      Boise
Station.Code                        BOI
Station.Location              Boise, ID
Station.State                     Idaho
Data.Temperature.Avg Temp         -13.3
Data.Temperature.Max Temp          -6.1
Data.Temperature.Min Temp           -20
Data.Wind.Direction                   2
Data.Wind.Speed                     1.2
dtype: object

In [17]:
# Which is the minimal temp. in Idaho?
min_Idaho = weather_in_Idaho['Data.Temperature.Min Temp'].min()
# In which row is value of the minimal temp. in Idaho?
index_min_Idaho = weather_in_Idaho['Data.Temperature.Min Temp'].idxmin()
print(min_Idaho, weather_in_Idaho.iloc[index_min_Idaho]['Station.Location'])
print('Minimal temperature in Idaho reached', min_Idaho, 'and was recorded in', weather_in_Idaho.iloc[index_min_Idaho]['Station.Location'], 'on', weather_in_Idaho.iloc[index_min_Idaho]['Date.Full'])

-20.0 Lewiston, ID
Minimal temperature in Idaho reached -20.0 and was recorded in Lewiston, ID on 2016-08-14

A row with information about the Station with the highest and the lowest wind speed

In [18]:
index_max_wind_speed = weather['Data.Wind.Speed'].idxmax()
weather.iloc[index_max_wind_speed]

Data.Precipitation                            0
Date.Full                            2016-03-06
Date.Month                                    3
Date.Week of                                  6
Date.Year                                  2016
Station.City                     Mt. Washington
Station.Code                                MWN
Station.Location             Mt. Washington, NH
Station.State                     New Hampshire
Data.Temperature.Avg Temp                  15.6
Data.Temperature.Max Temp                  15.6
Data.Temperature.Min Temp                  15.6
Data.Wind.Direction                          25
Data.Wind.Speed                            61.1
Name: 3028, dtype: object

In [19]:
index_min_wind_speed = weather['Data.Wind.Speed'].idxmin()
weather.iloc[index_min_wind_speed]

Data.Precipitation                           0
Date.Full                           2016-01-03
Date.Month                                   1
Date.Week of                                 3
Date.Year                                 2016
Station.City                     Puntilla Lake
Station.Code                               PTI
Station.Location             Puntilla Lake, AK
Station.State                           Alaska
Data.Temperature.Avg Temp                 15.6
Data.Temperature.Max Temp                 15.6
Data.Temperature.Min Temp                 15.6
Data.Wind.Direction                          0
Data.Wind.Speed                              0
Name: 26, dtype: object

Are we sure that there is only one station with minimal wind speed equal to 0? Let me check it.

In [20]:
weather.loc[weather['Data.Wind.Speed'] == 0]

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
26,0.00,2016-01-03,1,3,2016,Puntilla Lake,PTI,"Puntilla Lake, AK",Alaska,15.6,15.6,15.6,0,0.0
27,0.00,2016-01-03,1,3,2016,Shemya,SYA,"Shemya, AK",Alaska,15.6,15.6,15.6,0,0.0
42,0.00,2016-01-03,1,3,2016,North Little Rock,LZK,"North Little Rock, AR",Arkansas,5.6,9.4,1.1,0,0.0
47,0.06,2016-01-03,1,3,2016,Eureka,EKA,"Eureka, CA",California,6.7,11.7,0.6,0,0.0
143,0.21,2016-01-03,1,3,2016,Marquette,MQT,"Marquette, MI",Michigan,-5.0,-2.8,-7.8,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16254,0.49,2016-12-25,12,25,2016,Marquette,MQT,"Marquette, MI",Michigan,-5.0,-1.1,-9.4,0,0.0
16453,0.00,2017-01-01,1,1,2017,Puntilla Lake,PTI,"Puntilla Lake, AK",Alaska,15.6,15.6,15.6,0,0.0
16471,0.31,2017-01-01,1,1,2017,North Little Rock,LZK,"North Little Rock, AR",Arkansas,10.0,13.9,6.1,0,0.0
16475,0.02,2017-01-01,1,1,2017,Eureka,EKA,"Eureka, CA",California,6.7,11.1,1.7,0,0.0
16571,0.26,2017-01-01,1,1,2017,Marquette,MQT,"Marquette, MI",Michigan,-6.7,-3.3,-10.6,0,0.0

1. Ilość pomiarow z każdej stacji 
2. Min wartości dla każdej stacji
3. 3 najniższe temperatury z każdej stacji (w kolejności uszeregowane) (w jednej kolumnie wszystkie trzy wypisane) i policzyć z nich średnią
3a. Dla każdej stacji posortować wg wartości temperatur, pogrupować je w trójki i dla każdej trójki policzyć średnią  
4. Czym się różnią funkcje filter i loc - sprawdzić

**Ad. 1. Ilość pomiarow z każdej stacji**

In [21]:
weather_stations = weather.groupby(['Station.Location'])
#print(weather_stations.size())

#print(weather_stations.size().min())
#min_location_records = weather_stations.size().min()
# creating of new dataframe
weather_stations_size = weather_stations.size().reset_index()
print(weather_stations_size)

          Station.Location   0
0             Aberdeen, SD  53
1              Abilene, TX  53
2                Akron, OH  53
3              Alamosa, CO  53
4               Albany, NY  53
..                     ...  ..
313          Worcester, MA  53
314           Wrangell, AK  30
315             Yakima, WA  53
316            Yakutat, AK  53
317  Youngstown/Warren, OH  53

[318 rows x 2 columns]

In [22]:
weather_stations_size.sort_values(by=0)

          Station.Location   0
293         Unalakleet, AK   5
314           Wrangell, AK  30
56          China Lake, CA  45
197     Mt. Washington, NH  47
190             Milton, MA  47
..                     ...  ..
103              Flint, MI  53
102              Fargo, ND  53
101          Fairbanks, AK  53
108             Fresno, CA  53
317  Youngstown/Warren, OH  53

[318 rows x 2 columns]

Ad 2. Minimal values for each station

In [23]:
weather_stations.min()

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
Station.Location,,,,,,,,,,,,,
"Aberdeen, SD",0.0,2016-01-03,1,1,2016,Aberdeen,ABR,South Dakota,-21.1,-13.9,-28.9,8,4.52
"Abilene, TX",0.0,2016-01-03,1,1,2016,Abilene,ABI,Texas,5.0,8.3,-2.2,1,4.92
"Akron, OH",0.0,2016-01-03,1,1,2016,Akron,CAK,Ohio,-8.3,-5.0,-12.2,5,2.50
"Alamosa, CO",0.0,2016-01-03,1,1,2016,Alamosa,ALS,Colorado,-16.1,-5.0,-27.2,11,0.80
"Albany, NY",0.0,2016-01-03,1,1,2016,Albany,ALB,New York,-8.3,-3.3,-13.3,13,2.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Worcester, MA",0.0,2016-01-03,1,1,2016,Worcester,ORH,Massachusetts,-10.6,-5.6,-16.1,3,5.00
"Wrangell, AK",0.0,2016-03-06,1,1,2016,Wrangell,WRG,Alaska,15.6,15.6,15.6,8,1.35
"Yakima, WA",0.0,2016-01-03,1,1,2016,Yakima,YKM,Washington,-8.9,-4.4,-13.3,20,1.44
"Yakutat, AK",0.0,2016-01-03,1,1,2016,Yakutat,YAK,Alaska,-5.6,-1.7,-10.0,0,0.00
"Youngstown/Warren, OH",0.0,2016-01-03,1,1,2016,Youngstown/Warren,YNG,Ohio,-9.4,-5.6,-13.9,11,1.40

3a. Select 3 the highest values of temperature for each station

In [24]:
weather_stations_temp = weather_stations['Data.Temperature.Avg Temp']
# print(weather_stations_temp)
weather_stations_temp.describe()

,count,mean,std,min,25%,50%,75%,max
Station.Location,,,,,,,,
"Aberdeen, SD",53.0,8.409434,1.168035e+01,-21.1,0.6,9.4,18.3,25.6
"Abilene, TX",53.0,18.749057,7.940103e+00,5.0,12.2,19.4,25.6,31.7
"Akron, OH",53.0,11.384906,1.010494e+01,-8.3,2.8,12.8,21.1,26.1
"Alamosa, CO",53.0,5.816981,1.014506e+01,-16.1,-1.1,6.1,15.6,20.6
"Albany, NY",53.0,10.328302,9.705676e+00,-8.3,1.1,10.0,19.4,25.6
...,...,...,...,...,...,...,...,...
"Worcester, MA",53.0,9.373585,9.573364e+00,-10.6,0.6,7.8,18.3,24.4
"Wrangell, AK",30.0,15.600000,3.613448e-15,15.6,15.6,15.6,15.6,15.6
"Yakima, WA",53.0,11.792453,8.857979e+00,-8.9,5.6,12.2,17.8,28.3
"Yakutat, AK",53.0,6.677358,5.582274e+00,-5.6,2.8,5.6,11.7,15.6
"Youngstown/Warren, OH",53.0,10.622642,9.807231e+00,-9.4,2.2,12.2,20.0,25.0

In [29]:
weather_stations_temp.nlargest(3)

Station.Location
Aberdeen, SD           9402     25.6
                       7513     23.3
                       7828     23.3
Abilene, TX            10045    31.7
                       8786     30.6
                                ...
Yakutat, AK            7614     15.6
                       7929     15.6
Youngstown/Warren, OH  10323    25.0
                       9062     23.3
                       9376     23.3
Name: Data.Temperature.Avg Temp, Length: 954, dtype: float64

In [40]:
weather_stations_temp_3largest = weather_stations_temp.nlargest(3)
list(weather_stations_temp_3largest['Abilene, TX'])

[31.7, 30.6, 30.6]

In [76]:
print(weather_stations_temp_3largest)
type(weather_stations_temp_3largest)

                             Data.Temperature.Avg Temp
Station.Location
Aberdeen, SD          9402                        25.6
                      7513                        23.3
                      7828                        23.3
Abilene, TX           10045                       31.7
                      8786                        30.6
...                                                ...
Yakutat, AK           7614                        15.6
                      7929                        15.6
Youngstown/Warren, OH 10323                       25.0
                      9062                        23.3
                      9376                        23.3

[954 rows x 1 columns]

pandas.core.frame.DataFrame

In [75]:
df1 = pd.DataFrame({
    'atable':     ['Users', 'Users', 'Domains', 'Domains', 'Locks'],
    'column':     ['col_1', 'col_2', 'col_a', 'col_b', 'col'],
    'column_type':['varchar', 'varchar', 'int', 'varchar', 'varchar'],
    'is_null':    ['No', 'No', 'Yes', 'No', 'Yes'],
})
print(df1)
df1_grouped = df1.groupby('atable')
print(df1_grouped)
# iterate over each group
for group_name, df_group in df1_grouped:
    print('\n {}('.format(group_name))

    for row_index, row in df_group.iterrows():
        column_type = row['column_type']
        print('{},'.format(column_type))

    print(");")

    atable column column_type is_null
0    Users  col_1     varchar      No
1    Users  col_2     varchar      No
2  Domains  col_a         int     Yes
3  Domains  col_b     varchar      No
4    Locks    col     varchar     Yes
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001EE605C9400>

 Domains(
int,
varchar,
);

 Locks(
varchar,
);

 Users(
varchar,
varchar,
);

In [77]:
for group_name, df_group in weather_stations_temp_3largest:
    print('\n{}'.format(group_name))

    for row_index, row in df_group.interrows():
        column_type = row['Data.Temperature.Avg Temp']
        print('{},'.format(column_type))

    print(";")

ValueError: too many values to unpack (expected 2)